* {
    min-width: 0;
}

body {
    font-family: sans-serif;
    background-color: #FEFFFE;
}

.container {
    max-width: 50rem;
    margin: 0 auto;
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

.logo {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 0.6rem;
}
.primary-nav {
    text-align: center;
   

}

.primary-nav-link {
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-weight: 700;
    color: black;
    
    
}

.primary-nav-list {
    max-width: 10rem;
    margin: 0 auto;
    
    
}

.primary-nav-item {
    text-align: center;
    background-color: #8BDF83;
    position: relative;
    border-radius: 0rem;
    margin-bottom: 0.5rem;
}

.product-list {
    margin-top: 1rem;
    text-decoration: none;
    width: 90%;
    margin: 0 auto;
}

.product-item {
    background-color:  #8BDF83;
    padding: 0.4rem;
    border-color: #3F6660;
    border-style: solid;
    border-width: 2rem;
    margin-top: 1rem;
    
}

.products {
    margin-top: 1rem;
}

@media only screen and (min-width:480px) {

    .logo {
        margin-bottom: 0;
    }
    
    .product-item{
        background-color: black;
    }

    .primary-nav-list {
        display: grid;
        grid-template-columns: 10rem 10rem;
        margin: 0 0;
        
        
        
    }

    .primary-nav-item {
        margin-bottom: 0;
        
        
    }

    .header {
        display: grid;
        grid-template-columns: 50% 20rem;
        
        
    } 

}

@media only screen and (min-width:768px) {
    .product-item{
        background-color: red;
    }
}
